@import "tailwindcss";

@theme inline {
  --font-main: var(--font-PlusJakartaSan);
  /* --font-secondary: var(--font-anton); */
}

:root{
  --background: #fbf8ef;
}

body {
  color: var(--font-color);
  background: var(--background);
  font-family: var(--font-main);
  /* font-family: var(--font-anton); */
}
